/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* post content */
.post-content p,
.post-content div,
.post-content code,
.post-content pre,
.post-content ol,
.post-content ul,
.post-content h2 {
  margin-bottom: 15px;
}

.post-content img {
  width: 100%;
}

.post-content pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border-radius: 3px;
  line-height: 17.4px;
  font-size: 12px;
  padding: 16px;
  background-color: #f7f7f7;
  overflow-x: auto;
}

.post-content code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #f7f7f7;
  padding: 1px 5px;
  border-radius: 2px;
}

.post-content code {
  padding: 0;
}

.post-content h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  margin-top: 20px;
}

.post-content h3 {
  font-size: 1.25em;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

a:hover {
  color: rgba(237, 29, 31, 0.6);
}

a:visited {
  color: rgba(237, 29, 31, 0.5);
}

a {
  color: rgb(237, 29, 31);
}
