html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol {
  padding-left: 2rem;
}
a {
  color: #be1d1f;
}
a:hover {
  color: #ed1d1f;
}
/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}
/* Base color: saturation 0; */
.hljs,
.hljs-subst {
  color: #444;
}
.hljs-comment {
  color: #888888;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}
/* User color: hue: 0 */
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}
.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}
/* Language color: hue: 90; */
.hljs-literal {
  color: #78A960;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}
/* Meta color: hue: 200 */
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #4d99bf;
}
/* Misc effects */
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #ed0000;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ed0000, 0 0 5px #ed0000;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #ed0000;
  border-left-color: #ed0000;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 文章内容 markdown 格式 */
.post-content p,
.post-content div,
.post-content code,
.post-content pre,
.post-content ol,
.post-content ul,
.post-content h2 {
  margin-bottom: 15px;
}
.post-content img {
  width: 100%;
}
.post-content pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border-radius: 3px;
  line-height: 17.4px;
  font-size: 12px;
  padding: 16px;
  background-color: #f7f7f7;
  overflow-x: auto;
}
.post-content code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #f7f7f7;
  padding: 1px 5px;
  border-radius: 2px;
}
.post-content code {
  padding: 0;
}
.post-content h2,
.post-content h3,
.post-content h4 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.post-content h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3em;
}
.post-content h3 {
  font-size: 1.25em;
}
.post-content h4 {
  font-size: 1em;
}
/* 主体部分布局 */
.content-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.sidebar {
  margin-left: 5px;
  width: 250px;
}
/* 内容块样式 */
.main {
  max-width: 700px;
  width: 95%;
  border: 1px solid #f0f2f7;
  background-color: white;
}
/* 文章列表项样式 */
.postSummary {
  padding: 0 10px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #f0f2f7;
}
.postSummary .postSummary__upstairs {
  display: flex;
  padding-top: 10px;
  flex: 1;
  align-items: center;
}
.postSummary .postSummary__upstairs .postCover {
  display: flex;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  height: 110px;
  color: #CCCCCC;
  font-size: 12px;
  border: 0.5em #fff solid;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  width: 180px;
  background-size: cover;
  margin: 1px 10px 1px 1px;
}
.postSummary .postSummary__upstairs .postTitleAndContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.postSummary .postSummary__upstairs .postTitleAndContent h1 {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 25px;
}
.postSummary .postSummary__upstairs .postTitleAndContent p {
  display: flex;
  flex: 1;
  font-size: 13px;
  line-height: 20px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postSummary .postSummary__downstairs {
  display: flex;
  padding-left: 4px;
  height: 40px;
  align-items: center;
}
/* Page Header */
.header {
  display: flex;
  alignItems: stretch;
  background: #1b1920;
  padding: 0 45px;
  height: 66px;
}
/* post wrapper */
.post-wrapper {
  line-height: 1.4rem;
  font-size: 14px;
}
/* profile */
.profile {
  background-color: #ffffff;
  border: 1px solid #f0f2f7;
}
.profile .profile__basic {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #f0f2f7;
}
.profile .profile__basic .profile__name {
  margin: 10px 0;
}
.profile .profile__basic .profile__signature {
  font-size: 13px;
  color: #9D9D9D;
  font-style: italic;
}
.profile .profile__sns {
  display: flex;
  padding: 8px 20px;
  justify-content: space-around;
}
.pagination {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  padding: 0px 20px;
  flex-wrap: wrap;
  margin: 10px 0;
}
.pagination li {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.pagination li:not(.break) a {
  display: inline-block;
  border: 1px solid #f0f2f7;
  border-radius: 3px;
  padding: 8px 10px;
  outline: none;
}
.pagination li.selected a,
.pagination li.disabled a {
  color: #cccccc;
}
/* 响应式内容 */
@media (max-width: 414px) {
  .main {
    width: 100%;
  }
  .postCover {
    display: none!important;
    width: 0px!important;
    margin: 0!important;
    padding: 0!important;
    border: none!important;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 0 5px;
  }
}
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
