@import 'resets.less';
@import 'default.less';

/* post content */
.post-content {
  p, div, code, pre, ol, ul, h2 {
    margin-bottom: 15px;
  }

  img {
    width: 100%;
  }

  pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 3px;
    line-height: 17.4px;
    font-size: 12px;
    padding: 16px;
    background-color: #f7f7f7;
    overflow-x: auto;
  }

  code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #f7f7f7;
    padding: 1px 5px;
    border-radius: 2px;
  }

  code {
    padding: 0;
  }

  h2, h3, h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }

  h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.3em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }
}
