@import 'resets';
@import 'github';
@import 'nprogress';
@import 'vars';
@import 'flex';

/* 文章内容 markdown 格式 */
.post-content {
  word-wrap: break-word;

  p, div, code, pre, ol, ul, h2 {
    margin-bottom: 15px;
  }

  i {
    font-style: italic;
  }

  img {
    width: 100%;
  }

  pre {
    display: flex;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: 3px;
    line-height: 17.4px;
    font-size: 12px;
    padding: 16px;
    background-color: #f7f7f7;
    overflow-x: auto;
    code {
      padding: 0;
      border: none;
      display: inline;
    }
  }

  code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #f7f7f7;
    padding: 0 5px;
    border-radius: 2px;
    padding-top: 2px;
    border: 1px solid #ccc;
    margin: 0 2px;
  }

  h2, h3, h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }

  h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.3em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  hr {
    border: 1px solid #ededed;
    margin-bottom: 10px;
  }
}

/* post wrapper */
.post-wrapper {
  line-height: 1.4rem;
  font-size: 14px;
}

/* profile */
.pagination {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  padding: 0px 20px;
  flex-wrap: wrap;
  margin: 10px 0;
  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px 0;
    &:not(.break) {
      a {
        display: inline-block;
        border: @seperator;
        border-radius: 3px;
        padding: 8px 10px;
        outline: none;
      }
    }
    &.selected, &.disabled {
      a {
        color: #cccccc;
      }
    }
  }
}
